{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Home {% endblock title %}

{% block overlay %}
  <div class="position-absolute w-100 min-height-300 top-0" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/profile-layout-header.jpg'); background-position-y: 50%;">
    <span class="mask bg-primary opacity-6"></span>
  </div>
{% endblock overlay %}

{% block content %}
<h1>i'm organizer</h1>
{% endblock content %}